@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color:#FDD835;
    color: white;
  
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:200px;
    background-color: #FDD835;
    box-shadow: 2px 2px 10px #F57F17, -2px -2px 10px #FFFDE7;
    width: 800px;
    justify-content: center;
    padding: 20px;
    border-radius: 12px;
    margin-left: 260px;
}
.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}
button{
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    height: 50px;
    background-color: #FDD835;
    box-shadow: 2px 2px 10px #F57F17, -2px -2px 10px #FFFDE7;
    font-size: 24px;
    border: none;
}
p{
    /* margin: 10px; */
    /* padding: 10px; */
    font-size: 20px;

}
.bottom{
    display: flex;
    margin: 20px 0px ;
    justify-content: space-evenly;
    
}
.bottom > p{
    background-color: lightcoral;
    padding: 10px 20px;
    border-radius: 5px;

    box-shadow: 2px 2px 10px #F57F17, -2px -2px 10px #FFFDE7;
}
.bottom > button{
background-color: lightcoral;

margin-left: 20px;
}